.introBody {
  /* background: url(../assets/img/vanEycksView-bg.png) no-repeat center center fixed; */
  background-size: cover;
  box-sizing: border-box;
  font-size: 62.5%;
}

.contentContainer .frame {
  background: url(../assets/img/startupFrame.png) center center;
  background-size: cover;
  padding-top: 15vh;
  padding-bottom: 20vh;
  width: 80vw;
}

.ingame-flex {
  display: flex;
}
